<div class="container">
    <tabset justified="true">
        <tab select="doSave()">
            <tab-heading>
                <i style="color:green" class="glyphicon glyphicon-arrow-left" title="Save"></i>
            </tab-heading>
        </tab>
        <tab heading="Podsumowanie" active="true">
            <div class="container row" ng-repeat="visit in patient.visits track by $index" ng-show="$index==0">
                <h4>Wizyta {{visit.date}}</h4>

                <p>Prawe oko: {{visit.rightEye}}, Lewe oko: {{visit.leftEye}}</p>
                <p>{{visit.description}}</p>

            </div>
        </tab>

        <tab heading="Wywiad">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href=""><span class="glyphicon glyphicon-plus"></span> <i>Nowa zakładka</i></a></li>
                        <li role="presentation" class="active"><a href=""><span class="glyphicon glyphicon-file"></span> Ogólny wywiad</a></li>
                        <li role="presentation"><a href=""><span class="glyphicon glyphicon-picture"></span> Multimedia</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <input type="textarea" name="" style="width:100%;height:300px;" />
                </div>
            </div>
            <div>
                <form class="dropzone" method="post" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
                    <input name="file" type="file" multiple />
                </form>
            </div>
        </tab>

        <tab heading="Badanie">

            <div class="row">
                <div class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="">Formularz okulistyczny</a></li>
                        <li role="presentation"><a href="">Refrakcja</a></li>
                        <li role="presentation"><a href="">Odcinek przedni</a></li>
                        <li role="presentation"><a href="">Odcinek tylny</a></li>
                        <li role="presentation"><a href="">Ciśnienie</a></li>
                        <li role="presentation"><a href="">Multimedia</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="firstName" class="col-md-4 control-label">Imię</label>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="firstName" ng-model="patient.firstName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="lastName" class="col-md-3 control-label">Nazwisko</label>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="lastName" ng-model="patient.lastName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="passportNumber" class="col-md-3 control-label">PESEL</label>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="passportNumber" ng-model="patient.passportNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="insuranceNumber">Numer ubezpieczenia</label>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="insuranceNumber" ng-model="patient.insuranceNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="birthdate" class="col-md-3 control-label">Rok urodzenia</label>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="birthdate" ng-model="patient.dateOfBirth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="telephone" class="col-md-3 control-label">Nr telefonu</label>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="telephone" ng-model="patient.phoneNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="email" class="col-md-3 control-label">E-mail</label>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="email" ng-model="patient.email">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <tabset class="tabs-left">
                <tab heading="Formularz okulistyczny">
                    <div class="container">

                    </div>
                </tab>
                <tab heading="Refrakcja">

                </tab>
                <tab heading="Odcinek przedni">

                </tab>
                <tab heading="Odcinek tylny">

                </tab>
                <tab heading="Ciśnienie">

                </tab>
                <tab heading="Multimedia">
                    <form class="dropzone" method="post" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
                        <input name="file" type="file" multiple />
                    </form>
                </tab>
            </tabset>
        </tab>

        <tab heading="Diagnoza">
            <tabset>
                <tab heading="Skierowanie">

                </tab>
                <tab heading="Zabieg">

                </tab>
            </tabset>

        </tab>

        <tab heading="Recepty">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="">Home</a></li>
                        <li role="presentation"><a href="">Profile</a></li>
                        <li role="presentation"><a href="">Messages</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <p>Tab content</p>
                </div>
            </div>

        </tab>

        <tab heading="Zalecenia">

        </tab>

        <tab heading="Faktury">

        </tab>

        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-option-horizontal" title="revert"></i>
            </tab-heading>
        </tab>
    </tabset>

</div>