<div class="container">
    <div class="col-lg-12">
        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
        </div>
    </div>

    <div class="row">
                    

    </div>
    <!-- 
    TODO: dopisać wywiad, wizyty 
    listwa z boku z kolejnymi wizytami,
    podsumowanie zbiera dane
    zaimplementować diff??
    
    -->
    
        <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                <label for="firstName" class="col-md-4 control-label">Imię</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="firstName" ng-model="patient.firstName">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label for="lastName" class="col-md-3 control-label">Nazwisko</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="lastName" ng-model="patient.lastName">
            </div>
        </div>
            <div class="row">
            <div class="col-xs-3">
                <label for="passportNumber" class="col-md-3 control-label">PESEL</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="passportNumber" ng-model="patient.passportNumber">
            </div>
        </div>        
        <div class="row">
            <div class="col-xs-3">
                <label for="insuranceNumber">Numer ubezpieczenia</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="insuranceNumber" ng-model="patient.insuranceNumber">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label for="birthdate" class="col-md-3 control-label">Rok urodzenia</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="birthdate" ng-model="patient.dateOfBirth">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label for="telephone" class="col-md-3 control-label">Nr telefonu</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="telephone" ng-model="patient.phoneNumber">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label for="email" class="col-md-3 control-label">E-mail</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="email" ng-model="patient.email">
            </div>
        </div>
</div>

