<div class="container">

    <div class="jumbotron" ng-if="true">
        <p>To search among your data, just start typing. You can also use the searchbox. To start a new visit cick the plus (<span class="glyphicon glyphicon-plus"></span>) button above.</p>
    </div>

    <div class="row row-offcanvas row-offcanvas-right" ng-repeat="tileRow in tiles">
        <div class="col-sm-4 tile" ng-repeat="tile in tileRow">
            <div style="background-color: {{ tile.backgroundColor }};" ng-click="gotoUrl(tile.url)" title="{{ tile.title }}">
                <h2><span class="glyphicon {{ tile.icon }}" style="margin-top:50px;font-size:40px;"></span></h2>
            </div>
        </div>
    </div>

</div>
