<div class="container" style="padding-top: 20px;">
    <div class="col-md-8 col-md-offset-2">
        

        <div class="row">
            <div class="col-sm-5">
                <h4 ng-if="calendarTitle.length >= 18" style="margin:10px">{{ calendarTitle }}</h4>
                <h3 ng-if="calendarTitle.length < 18" style="margin:6px">{{ calendarTitle }}</h3>
            </div>

            <div class="col-sm-4 text-center">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'month'">Month</label>
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'">Week</label>
                    <label class="btn btn-primary" ng-model="calendarView" btn-radio="'day'">Day</label>
                </div>
            </div>
            
            <div class="col-sm-3 align-left">
                <div class="btn-group">
                    <button class="btn btn-primary" 
                            mwl-date-modifier 
                            date="calendarDay" 
                            decrement="calendarView">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button class="btn btn-default" 
                            mwl-date-modifier 
                            date="calendarDay" 
                            set-to-today>
                        Today
                    </button>
                    <button 
                        class="btn btn-primary" 
                        mwl-date-modifier 
                        date="calendarDay" 
                        increment="calendarView">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>

        <hr/>

        <mwl-calendar 
            view="calendarView" 
            current-day="calendarDay" 
            events="events" 
            view-title="calendarTitle" 
            on-event-click="eventClicked(calendarEvent)" 
            edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'" 
            delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
            auto-open="false">
        </mwl-calendar>
    </div>
