/* 
    Document   : custom
    Created on : 09.05.2014, 23:41:11
    Author     : Michal Tuleja <michal.tuleja@outlook.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div#main_container {
    border: 1px solid none;
}

div#search {
    display: none;
    position: absolute;
    top: 45px;
    left: 130px;
    width: 600px;
    height: 400px;
    border: 1px solid grey;
    z-index: 1000;
    background: bisque;
}