<table class="table table-striped">
  <thead>
    <tr>
      <th ng-if="counter">#</th> 
      <th style="min-width: 9em;">{{ title }}</th>
      <th>Prawe oko</th>
      <th>Lewe oko</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="entry in value track by $index"> 
      <th scope="row" ng-if="counter">{{$index + 1}}</th> 
      <td>
          {{ entry.label }}
      </td>
      <td>
        <input 
          class="form-control flat"
          ng-if="entry.rightEye !== undefined"
          ng-model="entry.rightEye"
          placeholder=""
          tabindex="2_{{$index}}"></input>
        <input 
          class="form-control flat"
          ng-if="entry.value !== undefined"
          ng-model="entry.value"
          placeholder=""
          tabindex="2_{{$index}}"></input>
      </td>
      <td>
        <input
          class="form-control flat"
          ng-if="entry.leftEye !== undefined"
          ng-model="entry.leftEye"
          placeholder=""
          tabindex="3_{{$index}}"></input>
      </td>
    </tr>
  </tbody>
</table>