<form class="form-horizontal">
    <div class="col-sm-6">
        <h4>{{layout.leftLabel}}</h4>
    </div>
    <div class="col-sm-6">
        <h4>{{layout.rightLabel}}</h4>
    </div>

    <div class="form-group" ng-repeat="field in layout.definition">
        <div class="col-sm-4">
            <input type="{{field.type}}" class="form-control" placeholder="">
        </div>
        <label class="col-sm-3 text-center control-label" style="text-align: center">{{field.label}}</label>
        <div class="col-sm-4">
            <input type="{{field.type}}" class="form-control" placeholder="">
        </div>
    </div>

    <div class="form-group" ng-repeat="field in layout.common">
        <label class="col-sm-4 control-label">{{field.label}}</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" placeholder="">
        </div>
    </div>
</form>
