<nav class="navbar navbar-fixed-top">
    <div class="container" style="background-color:white">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/dashboard">ModernPraxis</a>
            <ul class="nav navbar-nav hidden-xs">
                <li><a href="/#/dashboard" title="Dashboard"><span class="glyphicon glyphicon-th-large"></span></a></li>
                <li><a href="/#/patient/1/basic_data" title="Start visit"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a href="#/calendar" title="Calendar"><span class="glyphicon glyphicon-calendar"></span></a></li>
            </ul>
            <form class="navbar-form navbar-right hidden-xs" ng-submit="doSearch()">
                <input type="text" 
                       id="searchInput" 
                       class="form-control" 
                       style="min-width:300px;" 
                       ng-model="searchExpr.text" 
                       placeholder="Search..." 
                       typeahead="appName for address in getLocation($viewValue)" 
                       typeahead-loading="" 
                       typeahead-no-results=""
                       autocomplete="off"
                       popover-animation="true" 
                       popover="Type text to find sth"
                       popover-placement="bottom"
                       popover-trigger="show">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" title="Support"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-chevron-down"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header"><span class="glyphicon glyphicon-user"></span> Dr. Jan Kowalski</li>
                    <li><a href=""><span class="glyphicon glyphicon-inbox"></span> Reports</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/#/login" title="Logoff"><span class="glyphicon glyphicon-off"></span> Logoff</a></li>
                </ul>
              </li>
            </ul>
        </div>
    </div>
</nav>
