<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th> 
      <th>Nazwa</th>
      <th>Prawe oko</th>
      <th>Lewe oko</th>
      <th>Actions</th>
    </tr> 
  </thead>
  <tbody>
    <tr ng-repeat="entry in value track by $index"> 
      <th scope="row">{{$index + 1}}</th> 
      <td>
        <input 
          type="text" 
          ng-model="entry.name" 
          uib-typeahead="entryCat for entryCat in typeaheadFormData | limitTo:8" 
          class="form-control"
          tabindex="1_{{$index}}"></input>
      </td>
      <td>
        <mp-multibox 
          type="text" 
          ng-model="entry.rightEye.desc"
          tabindex="2_{{$index}}"></multibox>
      </td>
      <td>
        <mp-multibox
          type="text" 
          ng-model="entry.leftEye.desc"
          tabindex="3_{{$index}}"></multibox>
      </td>
      <td>
        <a href="" title="Support" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></a>  
      </td>
    </tr>
  </tbody>
</table>
<input type="button" ng-click="addEntry()" value="+"></input>