<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron" ng-if="false">
                <p>To search your data, just start typing in the search box. To start a new visit cick the plus (<span class="glyphicon glyphicon-plus"></span>) button above.</p>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Upcoming visits</h2>
                    <p>Click on the list below to start a visit.</p>
                    <div class="list-group">
                        <a ng-repeat="e in events.data track by $index" href="/#{{ e.url }}" class="list-group-item"><small>{{ e.startsAt | date : 'HH:mm' }}</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ e.title }}</strong> <small>(23.04.1976)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: grey">+48 504 111 458</span></small></a>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <h2>News</h2>
            <h3>Heading</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            <h3>Heading</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <!--/.sidebar-offcanvas-->
    </div>
    <!--/row-->

</div>
<!--/.container-->
